---
layout: layout.njk
dot: ../.
nav: pages
---
<!-- 
	exemple subtitle:
	<p>dans l'état de <i>California</i> aux <i>United States</i> of America</p>
-->

<div class="ribbon">
	<div class="panel_page {{destination}}"></div>
	<div class="heading-text">
		<h4>{{pagetitle}} <span>{{pagetitleSpan}}</span></h4>
		<p>{{subtitleNormal}} <i>{{subtitleItalic}}</i> {{subtitleNormal2}} <i>{{subtitleItalic2}}</i></p>
	</div>
</div>

{{content | safe}}
