<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <p class="modal-title" id="formModalLabel">contactez-moi</p>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <form name="contact" netlify>
						<div>
							<label for="name" alt="nom">Nom</label>
							<input type="text" name="name" required/>
						</div>
						<div>
							<label for="email">Courriel</label>
							<input type="email" name="email" required/>
						</div>
						<div>
							<label for="message">Message</label>
							<textarea name="message" required></textarea>
						</div>
						<div>
							<button type="submit" class="send">Envoyez</button>
						</div>
					</form>
	      </div>
	    </div>
	  </div>
	</div>
