@font-face {
	font-family: 'Questrial';
	src: url(../fonts/Questrial/Questrial-Regular.ttf);
}
@font-face {
	font-family: 'Architects_Daughter';
	src: url(../fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}
@font-face {
	font-family: 'Love';
	src: url(../fonts/Love_Light/LoveLight-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{	
	background-color: lightgray;
	font-family: 'Questrial', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Love';
}

.index h1 { /* brand on nav */
	font-size: 3rem;
	margin-top: 1rem;
}
.pages h1 { /* brand on nav */
	font-size: 2rem;
	margin-top: 0.5rem;
}
h2 { /* title on carousel index */
	font-size: 6rem;
}
h3 { /* title on pages: publications, expat, mondial, maison */
	font-size: 5rem;
}
h4 { /* title on pages: destinations */
	font-size: 4rem;
}
h4 span {
	font-size: 2rem;
}
h5 { /* title on publication's cards + post's modal */
	font-size: 2.5rem;
	color: #0E8A88;
}


/* ########### header nav ########### */
li {
	list-style: none;
}
a {
	color: white;
	text-decoration: none;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
	height: 50px;
}
.pages {
	background-image: url(../images/header.png);
}
.index {
	background-image: none;
}
.header a.active {
	font-family: 'Love';
	font-size: 4rem;
	color:#0E8A88;
}

/* #### menu hamburger #### */
.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: white;
}
.hamburger {
	display: block;
}
.hamburger.active .bar:nth-child(2) {
	opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}
.header-right {
	position: fixed;
	top: 50px;
	right: -100%;
	transition: 0.3s;
	gap: 0;
	flex-direction: column;
	text-align: right;
}
.hr-index {
	background-color: rgba(255, 255, 255, 0.3);
	width: 25vw;
}
.hr-pages {
  background-image: url(../images/header.png);
	width: 50vw;
}
.hr-index .menu-item, .hr-pages .menu-item {
	margin: 1rem 0;
	padding-right: 1rem;
}
.header-right.active {
	right: 0;
}
	
/* #### modal contact form in header #### */
header .modal-header {
	height: 4rem;
}
header .modal-title {
	font-family: 'Love';
	font-size: 3rem;
	color: #0E8A88;
}
header form {
	display: table;
}
header .modal-body label, header .modal-body input, header .modal-body textarea {
	display: table-cell;
	width: 87vw;
	margin-bottom: 1rem;
}
header .modal-body textarea {
	height: 10rem;
}
.send {
	background-color: #0E8A88;
	border: 1px solid #0E8A88;
	border-radius: 3px;
	padding: 5px;
	color: white;
}

/* #### carousel on index #### */
.index .carousel-inner .carousel-item { 
	position: relative;
	height: 100vh;
}
.index .carousel-inner .carousel-item img { 
	object-fit: cover;
	height: 100%;
	margin: auto;
}
.index .carousel-inner .carousel-item .carousel-caption { 
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

/* #### ribbon image on pages #### */
.panel_page {
	background-image: none;
}
.ribbon {
	text-align: center;
	margin-top: 50px;
}
.heading-text p {
	color: rgb(54, 54, 54);
	margin-top: -1rem;
}
.expat {
	background-image: url(../photos/ribbon/expat.jpg);
}

/* ########### search bar + buttons ########### */
.search {
	margin-top: -0.5rem;
	margin-bottom: 1rem;
	text-align: center;
}
.search svg {
	color: #0E8A88;	
}
#search {
	width: 90%;
	background: initial;
	border: none;
	border-bottom: 1px solid #0E8A88;
}
#search:focus {
	background: white;
	outline: none;
}

/* #### responsive image gallery on pages: expat, voyage, maison #### */
ul {
	list-style: none;
	margin-left: -2rem;
}
.image-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.image-gallery > li {
	flex: 1 1 auto; 
	height: 200px;
	position: relative;
}
.image-gallery li img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	border-radius: 5px;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;  
	top: 0;
	left: 0;  
	color: white;
	border-radius: 5px;
	/* center overlay content */
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.image-gallery::after {
  content: "";
  flex-grow: 999;
}

/* #### image gallery on destinations #### */
section { 
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.date_section {
	text-align: center;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.image-gallery-destination {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.image-gallery-destination > img {
	flex: 1 1 auto; 
	width: 90%;
	object-fit: cover;
	vertical-align: middle;
	border-radius: 5px;
}
.image-gallery-destination::after {
  content: "";
  flex-grow: 999;
}