---
layout: layout.njk
title: expat
dot: ../.
activeExpat: active
---

<div class="panel_page alsace">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Alsace</h6>
		<p>départements du <i>Haut Rhin</i> et <i>Bas Rhin</i></p>

		<p>du 18 au 27 novembre <b>2021</b></p> 					
		<a>à venir</a>
	</div>

</section>			
