---
layout: layout.njk
title: expat
dot: ../.
activeExpat: active
---

<div class="panel_page angouleme">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Angoulême</h6>
		<p>département de la <i>Charente</i></p>
			
		<p>escapade du weekend 19-20 juin <b>2021</b></p>
		<a>à venir</a>
	</div>		

</section>
