---
layout: layout.njk
title: expat
dot: ../.
activeExpat: active
---

<div class="panel_page biarritz">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Bayonne</h6>
		<p>département des <i>Pyrénées-Atlantiques</i></p>

		<p>escapade du 6 février <b>2022</b></p>
		<a>à venir</a> 
	</div>			
	
</section>
