---
layout: layout.njk
dot: ../.
title: expat
nav: pages
activeExpat: active

destination: biarritz
---

<div class="panel_page {{destination}}">
	<p></p>	
</div>

<section>

  <div class="titre_section">
		<h4>Biarritz</h4>
		<p>département des <i>Pyrénées-Atlantiques</i></p>
	</div>

	<section>
		<div class="date_section">
      <p>escapade du weekend 5-6 février <b>2022</b><br>
		  texte à venir<br>
		  photos à venir</p> 
	  </div>

	  <div class="container">
	    <div class="image-gallery-destination">
      <img src="../../photos/" alt="">
      <img src="../../photos/" alt="">
      <img src="../../photos/" alt="">
	    </div>
	  </div>
	</section>
	
</section>
