---
layout: layout.njk
title: expat
dot: ../.
activeExpat: active
---

<div class="panel_page blanquefort">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>parc Majolan, Blanquefort</h6>
		<p>département de la <i>Gironde</i></p> 

		<p>promenade du 4 septembre <b>2021</b></p>
		<a> venir</a> 
	</div>				

</section>
