---
layout: layoutDestinations.njk
title: expat
activeExpat: active

destination: bordeaux
pagetitle: Bordeaux
subtitleNormal: département de la
subtitleItalic: Gironde
subtitleNormal2: 
subtitleItalic2: 
---
<!-- 
	exemple subtitle:
	<p>dans l'état de <i>California</i> aux <i>United States</i> of America</p> 
-->

<section>
	<div class="date_section">
    <p>14 février <b>2023</b><br>
	  bassins à flots<br>
	  photos à venir</p>
  </div>

	<div class="container">
    <div class="image-gallery-destination">
			<img src="../../photos/" alt="">
			<img src="../../photos/" alt="">
			<img src="../../photos/" alt="">
    </div>
  </div>	
</section>

<section>
	<div class="date_section">
    <p>18 janvier <b>2023</b><br>
	  de la neige<br>
	  photos à venir</p>
  </div>

	<div class="container">
    <div class="image-gallery-destination">
			<img src="../../photos/" alt="">
			<img src="../../photos/" alt="">
			<img src="../../photos/" alt="">
    </div>
  </div>	
</section>
