---
layout: layout.njk
dot: ../.
title: expat
nav: pages
activeExpat: active

destination: bordeaux
---

<div class="panel_page {{destination}}">
	<p></p>	
</div>

<section>

  <div class="titre_section">
		<h4>Bordeaux</h4>
		<p>département de la <i>Gironde</i></p>
	</div>

	<section>
		<div class="date_section">
			<p>14 février <b>2023</b><br>
			bassins à flots<br>
			photos à venir</p> 
	  </div>

	  <div class="container">
	    <div class="image-gallery-destination">
      <img src="../../photos/" alt="">
      <img src="../../photos/" alt="">
      <img src="../../photos/" alt="">
	    </div>
	  </div>
	</section>

	<section>
		<div class="date_section">
			<p>18 janvier <b>2023</b><br>
			de la neige<br>
			photos à venir</p> 
	  </div>

	  <div class="container">
	    <div class="image-gallery-destination">
      <img src="../../photos/" alt="">
      <img src="../../photos/" alt="">
      <img src="../../photos/" alt="">
	    </div>
	  </div>
	</section>

</section>