---
layout: layout.njk
title: expat
dot: ../.
activeExpat: active
---

<div class="panel_page bordeaux">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Bordeaux</h6>
		<p>département de la <i>Gironde</i></p> 

		<p>14 février <b>2023</b></p>
		<a>venir</a> 
	</div>				

</section>		
