---
layout: layout.njk
title: expat
dot: ../.
activeExpat: active
---

<div class="panel_page bretagne">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Bretagne</h6>
		<p>départements de <i>Morbihan</i> et <i>Finistère</i></p>
		
		<p>du 20 au 29 août <b>2021</b></p>
		<a>à venir</a>
	</div>				

</section>
