---
layout: layout.njk
title: expat
dot: ../.
activeExpat: active
---

<div class="panel_page capferret">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Cap Ferret</h6>
		<p>département de la <i>Gironde</i></p> 

		<p>promenade du 10 juillet <b>2021</b></p> 
		<a>à venir</a>
	</div>		

</section>
