---
layout: layout.njk
title: expat
dot: ../.
activeExpat: active
---

<div class="panel_page dordogne">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>département de la <i>Dordogne</i></h6>

		<p>escapade du weekend 15-18 <b>avril 2022</b></p>
		<a>à venir</a>
	</div>

</section>

<section>

	<div class="titre_section">
		<p>promenade du 27 <b>février 2022</b></p>
		<a>à venir</a>
	</div>

</section>

<section>

	<div class="titre_section">
		<p>promenade du 31 <b>octobre 2021</b></p> 
		<a>à venir</a>
	</div>

</section>
