---
layout: layout.njk
dot: ../.
title: expat
nav: pages
activeExpat: active

destination: graves
---

<div class="panel_page {{destination}}">
	<p></p>	
</div>

<section>

  <div class="titre_section">
		<h4>les Graves</h4>
		<p>département de la <i>Gironde</i></p>
	</div>

	<section>
		<div class="date_section">
      <p>15-16 octobre <b>2022</b><br>
		  portes ouvertes des vignobles<br>
		  photos à venir</p> 
	  </div>

	  <div class="container">
	    <div class="image-gallery-destination">
      <img src="../../photos/" alt="">
      <img src="../../photos/" alt="">
      <img src="../../photos/" alt="">
	    </div>
	  </div>
	</section>

	<section>
		<div class="date_section">
      <p>16-17 octobre <b>2021</b><br>
		  portes ouvertes des vignobles<br>
		  photos à venir</p> 
	  </div>

	  <div class="container">
	    <div class="image-gallery-destination">
      <img src="../../photos/" alt="">
      <img src="../../photos/" alt="">
      <img src="../../photos/" alt="">
	    </div>
	  </div>
	</section>
	
</section>
