---
layout: layout.njk
title: expat
dot: ../.
activeExpat: active
---

<div class="panel_page bretagne">
	<p></p>	
</div>
		
<section>

	<div class="titre_section">
		<h6>Île-de-Noirmoutier</h6>
		<p>département de la <i>Vendée</i></p>

		<p>du 20 au 29 août <b>2021</b></p>
		<a>à venir</a>
	</div>				

</section>
		