---
layout: layout.njk
dot: ../.
title: expat
nav: pages
activeExpat: active

destination: lacanau
---

<div class="panel_page {{destination}}">
	<p></p>	
</div>

<section>

  <div class="titre_section">
		<h4>Lacanau</h4>
		<p>département de la <i>Gironde</i></p> 
	</div>

	<section>
		<div class="date_section">
      <p>28 juin <b>2022</b><br>
		  journée à la plage<br>
		  photos à venir</p> 
	  </div>

	  <div class="container">
	    <div class="image-gallery-destination">
      <img src="../../photos/" alt="">
      <img src="../../photos/" alt="">
      <img src="../../photos/" alt="">
	    </div>
	  </div>
	</section>
	
</section>
