---
layout: layout.njk
title: expat
dot: ../.
activeExpat: active
---

<div class="panel_page lacanau">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Lacanau</h6>
		<p>département de la <i>Gironde</i></p> 

		<p>journée à la plage du 28 juin <b>2022</b></p> 
		<a>à venir</a>
	</div>				

</section>
