---
layout: layout.njk
title: expat
dot: ../.
activeExpat: active
---

<div class="panel_page lormont">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>parc de l'Ermitage Sainte-Catherine, Lormont</h6>
		<p>département de la <i>Gironde</i></p> 

		<p>promenade du 30 avril <b>2021</b></p> 
		<a>à venir</a>
	</div>				

</section>
