---
layout: layout.njk
title: expat
dot: ../.
activeExpat: active
---

<div class="panel_page paris2022">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Paris</h6>
		<p>département de <i>Paris</i></p> 

		<p>escapade du 19-22 février <b>2022</b></p> 
		<a>à venir</a>
	</div>				

</section>
