---
layout: layout.njk
title: expat
dot: ../.
activeExpat: active
---

<div class="panel_page pyrenees">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Pau</h6>
		<p>départements des <i>Pyrénées-Atlantiques</i></p> 

		<p>escapade du weekend 26-29 mai <b>2022</b></p> 
		<a>à venir</a>
	</div>			

</section>
