---
layout: layout.njk
dot: ../.
title: expat
nav: pages
activeExpat: active

destination: taillanmedoc
---

<div class="panel_page {{destination}}">
	<p></p>	
</div>

<section>

  <div class="titre_section">
		<h4>château du Taillan, le Taillan-Médoc</h4>
		<p>département de la <i>Gironde</i></p>
	</div>

	<section>
		<div class="date_section">
      <p>30 mai <b>2021</b><br>
		  texte à venir<br>
		  photos à venir</p> 
	  </div>

	  <div class="container">
	    <div class="image-gallery-destination">
      <img src="../../photos/" alt="">
      <img src="../../photos/" alt="">
      <img src="../../photos/" alt="">
	    </div>
	  </div>
	</section>
	
</section>
