---
layout: layout.njk
title: expat
dot: ../.
activeExpat: active
---

<div class="panel_page toulouse">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Toulouse</h6>
		<p>département de la <i>Haute-Garonne</i></p>

		<p>escapade du weekend 19-20 mars <b>2022</b></p> 
		<a>à venir</a>
	</div>				

</section>
