---
layout: layout.njk
title: maison
dot: ../.
activeMaison: active
---

<div class="panel_page bic">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Bic</h6>
		<p>région du <i>Bas-Saint-Laurent</i></p>
		
		<p>escapade du 18-19 août <b>2018</b></p> 
		<a>à venir</a>
	</div>				

</section>
		