---
layout: layoutDestinations.njk
title: maison
activeMaison: active

destination: bic
pagetitle: Bic
subtitleNormal: région du
subtitleItalic: Bas-Saint-Laurent
subtitleNormal2: 
subtitleItalic2: 
---
<!-- 
	exemple subtitle:
	<p>dans l'état de <i>California</i> aux <i>United States</i> of America</p> 
-->

<section>
	<div class="date_section">
    <p>escapade du 18-19 août <b>2018</b><br>
	  texte à venir<br>
	  photos à venir</p> 
  </div>

  <div class="container">
    <div class="image-gallery-destination">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    </div>
  </div>
</section>
