---
layout: layout.njk
title: maison
dot: ../.
activeMaison: active
---

<div class="panel_page charlevoix">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Charlevoix</h6>
		<p>région de la <i>Capitale-Nationale</i></p> 

		<p>escapade en train du 30 août au 1er septembre <b>2014</b></p> 
		<a>à venir</a>
	</div>				

</section>
