---
layout: layoutDestinations.njk
title: maison
activeMaison: active

destination: charlevoix
pagetitle: Charlevoix
subtitleNormal: région de la
subtitleItalic: Capitale-Nationale
subtitleNormal2: 
subtitleItalic2: 
---
<!-- 
	exemple subtitle:
	<p>dans l'état de <i>California</i> aux <i>United States</i> of America</p> 
-->

<section>
	<div class="date_section">
    <p>escapade en train du 30 août au 1er septembre <b>2014</b><br>
	  texte à venir<br>
	  photos à venir</p> 
  </div>

  <div class="container">
    <div class="image-gallery-destination">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    </div>
  </div>
</section>
