---
layout: layout.njk
title: maison
dot: ../.
activeMaison: active
---

<div class="panel_page charlevoix">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Miller Zoo</h6>
		<p>Frampton en Beauce</p> 
		<p>région de la <i>Chaudière-Appalaches</i></p> 

		<p>balade au zoo en septembre <b>2019</b></p> 
		<a>à venir</a>
	</div>				

</section>
