---
layout: layout.njk
dot: ../.
title: maison
nav: pages
activeMaison: active

destination: millerzoo
---

<div class="panel_page {{destination}}">
	<p></p>	
</div>

<section>

  <div class="titre_section">
		<h4>Miller Zoo</h4>
		<p>Frampton en Beauce<br>
		région de la <i>Chaudière-Appalaches</i></p>
	</div>

	<section>
		<div class="date_section">
      <p>balade au zoo en septembre <b>2019</b><br>
		  texte à venir<br>
		  photos à venir</p> 
	  </div>

	  <div class="container">
	    <div class="image-gallery-destination">
      <img src="../../photos/" alt="">
      <img src="../../photos/" alt="">
      <img src="../../photos/" alt="">
	    </div>
	  </div>
	</section>
	
</section>
