---
layout: layoutDestinations.njk
title: maison
activeMaison: active

destination: millerzoo
pagetitle: Frampton 
subtitleNormal: en Beauce, région de la
subtitleItalic: Chaudière-Appalaches
subtitleNormal2: 
subtitleItalic2: 
---
<!-- 
	exemple subtitle:
	<p>dans l'état de <i>California</i> aux <i>United States</i> of America</p> 
-->

<section>
	<div class="date_section">
    <p>balade au Miller Zoo en septembre <b>2019</b><br>
	  texte à venir<br>
	  photos à venir</p> 
  </div>

  <div class="container">
    <div class="image-gallery-destination">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    </div>
  </div>
</section>
