---
layout: layout.njk
title: maison
dot: ../.
activeMaison: active
---

<div class="panel_page charlevoix">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Mont Saint-Bruno</h6>
		<p>région de la <i>Montérégie</i></p> 

		<p>randonnée pédestre en juillet <b>2016</b></p> 
		<a>à venir</a>
	</div>				

</section>