---
layout: layout.njk
title: maison
dot: ../.
activeMaison: active
---

<div class="panel_page monttremblant">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Mont-Tremblant</h6>
		<p>région des <i>Laurentides</i></p> 

		<p>escapade du 2-5 janvier <b>2020</b> dans le Parc national du Mont-Tremblant</p> 
		<a>à venir</a> 
	</div>				

</section>

<section>

	<div class="titre_section">
		<p>escapade du 8-10 septembre <b>2017</b> dans le Parc national du Mont-Tremblant</p> 
		<a>à venir</a> 
	</div>				

</section>

<section>

	<div class="titre_section">
		<p>escapade du 19-20 novembre <b>2011</b> dans le village de Tremblant</p> 
		<a>à venir</a> 
	</div>				

</section>
