---
layout: layoutDestinations.njk
title: maison
activeMaison: active

destination: monttremblant
pagetitle: Mont-Tremblant
subtitleNormal: région des
subtitleItalic: Laurentides
subtitleNormal2: 
subtitleItalic2: 
---
<!-- 
	exemple subtitle:
	<p>dans l'état de <i>California</i> aux <i>United States</i> of America</p> 
-->

<section>
	<div class="date_section">
    <p>escapade du 2-5 janvier <b>2020</b><br>
	  dans le Parc national du Mont-Tremblant<br>
	  photos à venir</p> 
  </div>

  <div class="container">
    <div class="image-gallery-destination">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    </div>
  </div>
</section>

<section>
	<div class="date_section">
    <p>escapade du 8-10 septembre <b>2017</b><br>
	  dans le Parc national du Mont-Tremblant<br>
	  photos à venir</p> 
  </div>

  <div class="container">
    <div class="image-gallery-destination">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    </div>
  </div>
</section>

<section>
	<div class="date_section">
    <p>escapade du 19-20 novembre <b>2011</b><br>
	  dans le village de Tremblant<br>
	  photos à venir</p> 
  </div>

  <div class="container">
    <div class="image-gallery-destination">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    </div>
  </div>
</section>
