---
layout: layout.njk
title: maison
dot: ../.
activeMaison: active
---

<div class="panel_page quebec">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Québec</h6>
		<p>région de la <i>Capitale-Nationale</i></p> 

		<p>plusieurs escapades de <b>2012</b> à <b>2005</b></p> 
		<a>à venir</a>
	</div>				

</section>
