---
layout: layoutDestinations.njk
title: voyages
activeVoyages: active

destination: barcelona
pagetitle: Barcelona
subtitleNormal: région de Catalogne en
subtitleItalic: España
subtitleNormal2: 
subtitleItalic2: 
---
<!-- 
	exemple subtitle:
	<p>dans l'état de <i>California</i> aux <i>United States</i> of America</p> 
-->

<section>
	<div class="date_section">
    <p>du 15 au 24 novembre <b>2019</b><br>
	  texte à venir<br>
	  photos à venir</p> 
  </div>

  <div class="container">
    <div class="image-gallery-destination">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    </div>
  </div>
</section>
