---
layout: layout.njk
title: voyages
dot: ../.
activeVoyages: active
---

<div class="panel_page barcelona">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Barcelona</h6>
		<p><i>España</i></p> 

		<p>du 15 au 24 novembre <b>2019</b></p> 
		<a>à venir</a>
	</div>

</section>
