---
layout: layoutDestinations.njk
title: voyages
activeVoyages: active

destination: boston
pagetitle: Boston
subtitleNormal: dans l'état du
subtitleItalic: Massachussetts
subtitleNormal2: aux
subtitleItalic2: United States of America
---
<!-- 
	exemple subtitle:
	<p>dans l'état de <i>California</i> aux <i>United States</i> of America</p> 
-->

<section>
	<div class="date_section">
    <p>du 25 au 29 juin <b>2013</b><br>
	  texte à venir<br>
	  photos à venir</p> 
  </div>

  <div class="container">
    <div class="image-gallery-destination">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    </div>
  </div>
</section>
