---
layout: layout.njk
title: voyages
dot: ../.
activeVoyages: active
---

<div class="panel_page chicago">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Chicago</h6>
		<p>dans l'état d'<i>Illinois</i> au <i>United States of America</i></p> 

		<p>du 17 au 25 mai <b>2014</b></p> 
		<a>à venir</a>
	</div>				

</section>
