---
layout: layoutDestinations.njk
title: voyages
activeVoyages: active

destination: chicago
pagetitle: Chicago
subtitleNormal: dans l'état d'
subtitleItalic: Illinois
subtitleNormal2: aux
subtitleItalic2: United States of America
---
<!-- 
	exemple subtitle:
	<p>dans l'état de <i>California</i> aux <i>United States</i> of America</p> 
-->

<section>
	<div class="date_section">
    <p>du 17 au 25 mai <b>2014</b><br>
	  texte à venir<br>
	  photos à venir</p> 
  </div>

  <div class="container">
    <div class="image-gallery-destination">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    <img src="../../photos/" alt="">
    </div>
  </div>
</section>
