---
layout: layout.njk
title: voyages
dot: ../.
activeVoyages: active
---

<div class="panel_page ireland">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Ireland</h6>
		
		<p>du 19 au 28 août <b>2015</b></p> 
		<a>à venir</a>
	</div>				

</section>
