---
layout: layout.njk
title: voyages
dot: ../.
activeVoyages: active
---		

<div class="panel_page japon">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Japon <span>日本</span></h6>

		<p>du 1er au 21 avril <b>2012</b></p> 
		<a>à venir</a>
	</div>				

</section>
