---
layout: layout.njk
title: voyages
dot: ../.
activeVoyages: active
---

<div class="panel_page leeds">
	<p></p>	
</div>
		
<section>

	<div class="titre_section">
		<h6>Leeds</h6>
		<p><i>United Kingdom</i></p>
	
		<p>escapade du 1-2 février <b>2020</b></p>  
	</div>

	<div class="container">

		<ul class="image-gallery-destination">
			<li>							
				<img src="../../photos/voyages/2020.02_Leeds/01_Avion.jpg" alt="">
				<div class="overlay-destination"></div>			
			</li>

			<li>
				<img src="../../photos/voyages/2020.02_Leeds/02_Man01.jpg" alt="">
				<div class="overlay-destination"></div>
			</li>

			<li>
				<img src="../../photos/voyages/2020.02_Leeds/03_Man03.jpg" alt="">
				<div class="overlay-destination"></div>
			</li>

			<li>
				<img src="../../photos/voyages/2020.02_Leeds/04_Man06.jpg" alt="">
				<div class="overlay-destination"></div>
			</li>

			<li>
				<img src="../../photos/voyages/2020.02_Leeds/06_Auto.jpg" alt="">
				<div class="overlay-destination"></div>
			</li>

			<li>
				<img src="../../photos/voyages/2020.02_Leeds/07_route01.jpg" alt="">
				<div class="overlay-destination"></div>
			</li>

			<li>
				<img src="../../photos/voyages/2020.02_Leeds/08_Dejeuner.jpg" alt="">
				<div class="overlay-destination"></div>
			</li>

			<li>
				<img src="../../photos/voyages/2020.02_Leeds/09_Leeds01.jpg" alt="">
				<div class="overlay-destination"></div>
			</li>

			<li>
				<img src="../../photos/voyages/2020.02_Leeds/10_Leeds02.jpg" alt="">
				<div class="overlay-destination"></div>
			</li>

			<li>
				<img src="../../photos/voyages/2020.02_Leeds/11_Leeds05.jpg" alt="">
				<div class="overlay-destination"></div>
			</li>

			<li>
				<img src="../../photos/voyages/2020.02_Leeds/12_Rugby01.jpg" alt="">
				<div class="overlay-destination"></div>
			</li>

			<li>
				<img src="../../photos/voyages/2020.02_Leeds/13_Rugby02.jpg" alt="">
				<div class="overlay-destination"></div>
			</li>

			<li>
				<img src="../../photos/voyages/2020.02_Leeds/14_Rugby03.jpg" alt="">
				<div class="overlay-destination"></div>
			</li>

			<li>
				<img src="../../photos/voyages/2020.02_Leeds/15_Rugby06.jpg" alt="">
				<div class="overlay-destination"></div>
			</li>

		</ul>

	</div>

</section>

<!--
<div class="container">
	<h6>Écrivez un commentaire</h6>
	<form>
		<textarea placeholder="ici"></textarea>
		<div class="btn">
			<input type="submit" value="Publier">
			<button id="clear">Annuler</button>
		</div>
	</form>
</div>
-->
