---
layout: layout.njk
dot: ../.
title: voyages
nav: pages
activeVoyages: active

destination: leeds
---

<div class="panel_page {{destination}}">
	<p></p>	
</div>

<section>

  <div class="titre_section">
		<h4>Leeds</h4>
		<p><i>United Kingdom</i></p>
	</div>

	<section>
		<div class="date_section">
      <p>escapade du 1-2 février <b>2020</b><br>
		  texte à venir</p> 
	  </div>

	  <div class="container">
	    <div class="image-gallery-destination">
      	<img src="../../photos/voyages/2020.02_Leeds/01_Avion.jpg" alt="">
      	<img src="../../photos/voyages/2020.02_Leeds/02_Man01.jpg" alt="">
      	<img src="../../photos/voyages/2020.02_Leeds/03_Man03.jpg" alt="">
				<img src="../../photos/voyages/2020.02_Leeds/04_Man06.jpg" alt="">
				<img src="../../photos/voyages/2020.02_Leeds/06_Auto.jpg" alt="">
				<img src="../../photos/voyages/2020.02_Leeds/07_route01.jpg" alt="">
				<img src="../../photos/voyages/2020.02_Leeds/08_Dejeuner.jpg" alt="">
				<img src="../../photos/voyages/2020.02_Leeds/09_Leeds01.jpg" alt="">
				<img src="../../photos/voyages/2020.02_Leeds/10_Leeds02.jpg" alt="">
				<img src="../../photos/voyages/2020.02_Leeds/11_Leeds05.jpg" alt="">
				<img src="../../photos/voyages/2020.02_Leeds/12_Rugby01.jpg" alt="">
				<img src="../../photos/voyages/2020.02_Leeds/13_Rugby02.jpg" alt="">
				<img src="../../photos/voyages/2020.02_Leeds/14_Rugby03.jpg" alt="">
				<img src="../../photos/voyages/2020.02_Leeds/15_Rugby06.jpg" alt="">
	    </div>
	  </div>
	</section>
	
</section>

<!--
<div class="container">
	<h4>Écrivez un commentaire</h4>
	<form>
		<textarea placeholder="ici"></textarea>
		<div class="btn">
			<input type="submit" value="Publier">
			<button id="clear">Annuler</button>
		</div>
	</form>
</div>
-->
