---
layout: layout.njk
title: voyages
dot: ../.
activeVoyages: active
---

<div class="panel_page london">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>London</h6>
		<p><i>United Kingdom</i></p>

		<p>du 17 au 26 novembre <b>2017</b></p> 					 
		<a>à venir</a>
	</div>				

</section>
