---
layout: layout.njk
title: voyages
dot: ../.
activeVoyages: active
---

<div class="panel_page newyork">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>New York</h6>
		<p>dans l'état de <i>New York</i> au <i>United States of America</i></p> 

		<p>escapade du 7-9 octobre <b>2011</b></p> 
		<a>à venir</a>
	</div>				

</section>

<section>

	<div class="titre_section">
		<p>escapade du 19-21 juillet <b>2010</b></p> 
		<a>à venir</a>
	</div>				

</section>

<section>

	<div class="titre_section">
		<p>escapade du 26-29 juin <b>2009</b></p> 
		<a>à venir</a>
	</div>				

</section>
