---
layout: layoutDestinations.njk
title: voyages
activeVoyages: active

destination: ottawa
pagetitle: Ottawa
subtitleNormal: dans la province de l'
subtitleItalic: Ontario
subtitleNormal2: au
subtitleItalic2: Canada
---
<!-- 
	exemple subtitle:
	<p>dans l'état de <i>California</i> aux <i>United States</i> of America</p> 
-->

<section>
	<div class="date_section">
    <p>patin en février <b>2018</b><br>
	  texte à venir<br>
	  photos à venir</p> 
  </div>

  <div class="container">
    <div class="image-gallery-destination">
    	<img src="../../photos/" alt="">
    	<img src="../../photos/" alt="">
    	<img src="../../photos/" alt="">
    </div>
  </div>
</section>

<section>
	<div class="date_section">
    <p>en juillet <b>2017</b><br>
	  texte à venir<br>
	  photos à venir</p> 
  </div>

  <div class="container">
    <div class="image-gallery-destination">
    	<img src="../../photos/" alt="">
    	<img src="../../photos/" alt="">
    	<img src="../../photos/" alt="">
    </div>
  </div>
</section>

<section>
	<div class="date_section">
    <p>en juillet <b>2006</b><br>
	  texte à venir<br>
	  photos à venir</p> 
  </div>

  <div class="container">
    <div class="image-gallery-destination">
    	<img src="../../photos/" alt="">
    	<img src="../../photos/" alt="">
    	<img src="../../photos/" alt="">
    </div>
  </div>
</section>
