---
layout: layout.njk
title: voyages
dot: ../.
activeVoyages: active
---

<div class="panel_page ottawa">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Ottawa</h6>
		<p>dans la province de l'<i>Ontario</i> au <i>Canada</i></p>

		<p>patin en février <b>2018</b></p> 
		<a>à venir</a> 
	</div>				

</section>

<section>

	<div class="titre_section">
		<p>en juillet <b>2017</b></p> 
		<a>à venir</a>
	</div>				

</section>

<section>

	<div class="titre_section">
		<p>en juillet <b>2006</b></p> 
		<a>à venir</a>
	</div>				

</section>
