---
layout: layout.njk
title: voyages
dot: ../.
activeVoyages: active
---

<div class="panel_page paris2016">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Paris</h6>
		<p><i>France</i></p> 

		<p>du 13 au 28 février <b>2016</b></p> 
		<a>à venir</a>
	</div>				

</section>
