---
layout: layout.njk
dot: ../.
title: voyages
nav: pages
activeVoyages: active

destination: paysbasque
---

<div class="panel_page {{destination}}">
	<p></p>	
</div>

<section>

  <div class="titre_section">
		<h4>Pays Basque</h4>
		<p>région de l'<i>España</i></p>
	</div>

	<section>
		<div class="date_section">
      <p>du 10 au 12 février <b>2023</b><br>
		  texte à venir<br>
		  photos à venir</p> 
	  </div>

	  <div class="container">
	    <div class="image-gallery-destination">
      	<img src="../../photos/" alt="">
      	<img src="../../photos/" alt="">
      	<img src="../../photos/" alt="">
	    </div>
	  </div>
	</section>
	
</section>
