---
layout: layout.njk
title: voyages
dot: ../.
activeVoyages: active
---

<div class="panel_page barcelona">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Barcelona</h6>
		<p>du 15 au 24 novembre <b>2019</b></p> 
		<p><i>España</i></p> 
		<a class="" title="à venir" data-bs-toggle="modal" data-bs-target="#photoModal">lien vers carousel de photos à venir</a>
	</div>

</section>
			