---
layout: layout.njk
dot: ../.
title: voyages
nav: pages
activeVoyages: active

destination: paris2016
---

<div class="panel_page {{destination}}">
	<p></p>	
</div>

<section>

  <div class="titre_section">
		<h4>Paris</h4>
		<p>en <i>France</i></p>
	</div>

	<section>
		<div class="date_section">
      <p>du 13 au 28 février <b>2016</b><br>
		  texte à venir<br>
		  photos à venir</p> 
	  </div>

	  <div class="container">
	    <div class="image-gallery-destination">
      	<img src="../../photos/" alt="">
      	<img src="../../photos/" alt="">
      	<img src="../../photos/" alt="">
	    </div>
	  </div>
	</section>
	
</section>
