---
layout: layout.njk
title: voyages
dot: ../.
activeVoyages: active
---

<div class="panel_page scotland">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Scotland</h6>

		<p>du 29 août au 8 septembre <b>2015</b></p> 
		<a>à venir</a>
	</div>				

</section>
