---
layout: layout.njk
dot: ../.
title: voyages
nav: pages
activeVoyages: active

destination: scotland
---

<div class="panel_page {{destination}}">
	<p></p>	
</div>

<section>

  <div class="titre_section">
		<h4>Scotland</h4>
	</div>

	<section>
		<div class="date_section">
      <p>du 29 août au 8 septembre <b>2015</b><br>
		  texte à venir<br>
		  photos à venir</p> 
	  </div>

	  <div class="container">
	    <div class="image-gallery-destination">
      	<img src="../../photos/" alt="">
      	<img src="../../photos/" alt="">
      	<img src="../../photos/" alt="">
	    </div>
	  </div>
	</section>
	
</section>
