---
layout: layout.njk
title: voyages
dot: ../.
activeVoyages: active
---

<div class="panel_page toronto">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Toronto</h6>
		<p>dans la province de l'<i>Ontario</i> au <i>Canada</i></p> 

		<p>avril, juillet, octobre <b>2019</b></p> 
		<a>à venir</a>
	</div>				

</section>

<section>

	<div class="titre_section">
		<p>juin, septembre <b>2018</b></p> 
		<a>à venir</a>
	</div>				

</section>

<section>

	<div class="titre_section">
		<p>mai, juillet, septembre <b>2017</b></p> 
		<a>à venir</a>
	</div>				

</section>

<section>

	<div class="titre_section">
		<p>du 2 au 5 avril <b>2010</b></p> 
		<a>à venir</a>
	</div>				

</section>
