---
layout: layout.njk
dot: ../.
title: voyages
nav: pages
activeVoyages: active

destination: utah
---

<div class="panel_page {{destination}}">
	<p></p>	
</div>

<section>

  <div class="titre_section">
		<h4>Utah, Nevada, Arizona</h4>
		<p>aux <i>United States of America</i></p> 
	</div>

	<section>
		<div class="date_section">
      <p>du 13 au 25 novembre <b>2014</b><br>
		  texte à venir<br>
		  photos à venir</p> 
	  </div>

	  <div class="container">
	    <div class="image-gallery-destination">
      	<img src="../../photos/" alt="">
      	<img src="../../photos/" alt="">
      	<img src="../../photos/" alt="">
	    </div>
	  </div>
	</section>
	
</section>
