---
layout: layout.njk
title: voyages
dot: ../.
activeVoyages: active
---

<div class="panel_page washington">
	<p></p>	
</div>

<section>

	<div class="titre_section">
		<h6>Washington</h6>
		<p>dans le <i>District of Columbia</i> au <i>United States of America</i></p>

		<p>du 21 au 24 avril <b>2011</b></p> 
		<a>à venir</a>
	</div>				

</section>

<section>

	<div class="titre_section">
		<p>du 21 au 23 juillet <b>2010</b></p> 
		<a>à venir</a>
	</div>				

</section>
