---
layout: layout.njk
dot: ../.
title: voyages
nav: pages
activeVoyages: active

destination: washington
---

<div class="panel_page {{destination}}">
	<p></p>	
</div>

<section>

  <div class="titre_section">
		<h4>Washington</h4>
		<p>dans le <i>District of Columbia</i> aux <i>United States of America</i></p>
	</div>

	<section>
		<div class="date_section">
      <p>du 21 au 24 avril <b>2011</b><br>
		  texte à venir<br>
		  photos à venir</p> 
	  </div>

	  <div class="container">
	    <div class="image-gallery-destination">
      	<img src="../../photos/" alt="">
      	<img src="../../photos/" alt="">
      	<img src="../../photos/" alt="">
	    </div>
	  </div>
	</section>

	<section>
		<div class="date_section">
      <p>du 21 au 23 juillet <b>2010</b><br>
		  texte à venir<br>
		  photos à venir</p> 
	  </div>

	  <div class="container">
	    <div class="image-gallery-destination">
      	<img src="../../photos/" alt="">
      	<img src="../../photos/" alt="">
      	<img src="../../photos/" alt="">
	    </div>
	  </div>
	</section>
	
</section>
