@font-face {
	font-family: 'Love';
	src: url(fonts/Love_Light/LoveLight-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{	
	background-color: lightgray;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
	font-family: 'Love';
	font-size: 8rem;
}
h2 {
	font-family: 'Love';
	font-size: 4rem;
	margin-top: -4rem;
}
h3, h4 {
	font-family: 'Love';
	font-size: 3rem;
	margin-top: 0.5rem;
}
h4 {
	color: #0E8A88;
}



/* ########### header nav ########### */
li {
	list-style: none;
}
a {
	color: white;
	text-decoration: none;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
	height: 70px;
}
.header a.active {
	font-family: 'Love';
	font-size: 4rem;
	color: #0E8A88;
}
.header-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	margin-top: 10px;
}
.menu-link {
	font-size: 1.25rem;
}
.menu-link, .brand {
	transition: 0.7s ease;
}
.menu-link:hover, .brand:hover {
	color: #0E8A88
}

.hamburger {
	display: none;
	cursor: pointer;
}
.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: white;
}

/*
.header {
	overflow: hidden;
}
.header a {
	float: left;
	text-align: center;
	font-size: 1.25rem;
	color: white;
	text-decoration: none;
	line-height: 4rem;
}
.header a.brand {
	font-family: 'Love';
	margin-left: 20px;
}
.header a:hover {
	color: #0E8A88;
}
.header-right {
	float: right;
}
.menu-link {
	cursor: pointer;
	margin-right: 30px;
}
*/


/* ########### modal form ########### */
.modal-header {
	height: 60px;
}
form {
	display: table;
}

label, input, textarea {
	display: table-cell;
	width: 465px;
	margin-bottom: 10px;
}
textarea {
	height: 200px;
}
.send {
	background-color: black;
	border: none;
	border-radius: 3px;
	padding: 5px;
	color: white;
}
.send:hover {
	background-color: #0E8A88;
}



/* ########### carousel ########### */
.carousel-caption { 
	top: 30%;
	bottom: auto;
}
.carousel-indicators { 
	top: 70%;
}




/* ########### tablet ########### */
@media screen and (max-width: 768px) {
	.hamburger {
		display: block;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.header-right {
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-image: url(images/header.png);
		width: 100%;
		text-align: center;
		transition: 0.3s;
		margin-top: inherit;
	}
	.menu-item {
		margin: 5px 0;
	}
	.header-right.active {
		left: 0;
	}
}
/* ########### mobile phone ########### */
@media screen and (max-width: 576px) {
	/*
	.header a {
    float: center;
		line-height: inherit;
  }  
	.header a.brand {
		margin-left: 75px;
	}
	.header a.active {
		font-family: inherit;
		font-size: 1.25rem;
	}
	 .header-right {
    float: center;
  }
	*/
	h1 {
		font-size: 6rem;
	}
	h2 {
		font-size: 3rem;
		margin-top: -3rem;
	} 
	label, input, textarea {
		width: 340px;
	}
	.carousel-caption p { 
		font-size: 1.25rem;
	}
	.carousel-caption h1 { 
		font-size: 3rem;
		color: #0E8A88;
	}
	.carousel-caption { 
		top: 13rem;
		bottom: auto;
	}
	.carousel-indicators { 
		top: 85%;
	}
}
