---
layout: layout.njk 
dot: ../.
nav: pages

pagination:
    data: destinations
    size: 1
    alias: destinations
permalink: "destinations/{{ destinations.name | slugify }}/"
---

<main id="destinations">
	
	<!-- ribbon -->
	{% include "ribbon-destinations.njk" %}

	<!-- accordion (only on mobile) -->
	<div class="accordion" id="accordionMobile">
		{% for place in destinations.places %}
		<div class="accordion-item">
		  <h6 class="accordion-header">
		    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{place.modal}}" aria-expanded="false" aria-controls="collapse{{place.modal}}">
					<!-- places: title -->
					<h6 class="date">{{place.title}}</h6>
		    </button>
		  </h6>
		  <div id="collapse{{place.modal}}" class="accordion-collapse collapse" data-bs-parent="#accordionMobile">
		    <div class="accordion-body">
					<div class="date_section" id="{{place.title | slugify}}">
						<div class="mobile">
							<!-- places: descriptions and dates -->
							{% for trip in place.trips %}
							<p>{{trip.description}}<br><i>{{trip.date}}</i></p>
							{% endfor %}
						</div>
					</div>
					<!-- places: photos -->
					<div class="container">
		    		<div class="image-gallery-destination">
		    		  {% for photo in place.photos %}
		    		    <img src="{{photo.src}}" alt="{{photo.alt}}">
								<p>{{photo.text}}</p>
		    		  {% endfor %}
		    		</div>
					</div>
		    </div>
		  </div>
		</div>
		{% endfor %}
	</div>

	{% include "upButton.njk" %}

	<!-- section -->
	{% for place in destinations.places %}
  <section class="container-destinations" id="sectionDesktop">
  	
		<!-- places: title, descriptions and dates -->
		<div class="date_section" id="{{place.title | slugify}}">
			<div class="desktop">
				<h6>{{place.title}}</b></h6>
				{% for trip in place.trips %}
				<p>{{trip.description}}<br><i>{{trip.date}}</i></p>
				{% endfor %}
			</div>
			<a type="button" class="btn" data-bs-toggle="modal" data-bs-target="#{{place.modal}}">voir le carousel de photos</a>
    </div>

		<!-- places: photos -->
		<div class="container">
      <div class="image-gallery-destination">
        {% for photo in place.photos %}
          <img src="{{photo.src}}" alt="{{photo.alt}}" title="{{photo.text}}">
        {% endfor %}
      </div>
    </div>
    
    <!-- modal for the carousel (only on desktop) -->
		<div class="modal fade" id="{{place.modal}}" tabindex="-1" aria-labelledby="{{place.modal}}Label" aria-hidden="true">
  		<div class="modal-dialog modal-xl">
  			<div class="modal-content">
  				<div class="modal-header">
  					<h5 class="modal-title" id="{{place.modal}}Label">{{place.modalTitle}}</h5>
  					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      		</div>

      		<div class="modal-body">
       						
						<!-- carousel of photos -->
						<div id="carousel{{place.modal}}Captions" class="carousel destinations slide">	

							<div class="carousel-indicators">
							  {% for photo in place.photos %}
									<button type="button" data-bs-target="#carousel{{place.modal}}Captions" data-bs-slide-to="{{photo.slide}}" class="{{photo.active}}" aria-current="{{photo.ariaCurrent}}" aria-label="Slide {{photo.slide}}"></button>
								{% endfor %}
							</div>
							<div class="carousel-inner">
								{% for photo in place.photos %}
									<div class="carousel-item {{photo.active}}">
										<img src="../photos/{{photo.src}}" class="d-block " alt="{{photo.alt}}">
										<div class="carousel-caption d-none d-md-block">
											<p>{{photo.text}}</p>
										</div>
									</div>
								{% endfor %}
						  </div>										

							<button class="carousel-control-prev" type="button" data-bs-target="#carousel{{place.modal}}Captions" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#carousel{{place.modal}}Captions" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>

						</div>							

      		</div>
    		</div>
  		</div>
		</div>	

  </section>
	{% endfor %}

</main>