---
layout: layout.njk
title: expat
dot: .
nav: pages
activeExpat: active
---

			<div class="panel_page expat">
				<p></p>
			</div>

			<div class="container">
				<h3 class="heading-text">France</h3>
				
				<ul class="image-gallery">
					<li>
						<a href="../photos/minis/00_carteFrance.jpg" target="_blank">
							<img src="../photos/minis/00_carteFrance.jpg" alt="">
							<div class="overlay">carte des régions et départements</div>
						</a>
					</li>

					<!--
					<li>
						<a >
							<img src="../photos/minis/00_mr-propre.jpg" alt="">
							<div class="overlay">traductions cocasses</div>
						</a>
					</li>
				  -->

					<li>
						<a href="../destinations/e_bordeaux/index.html">
							<img src="../photos/minis/24_Bordeaux.jpg" alt="">
							<div class="overlay">Bordeaux | Gironde 33</div>
						</a>
					</li>




					<li>
						<a href="../destinations/e_lacanau/index.html">
							<img src="../photos/minis/34_Lacanau.jpg" alt="">
							<div class="overlay">Lacanau | Gironde 33</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_graves/index.html">
							<img src="../photos/minis/25-7_Graves.jpg" alt="">
							<div class="overlay">les Graves | Gironde 33</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_pau/index.html">
							<img src="../photos/minis/33_Pyrenees.jpg" alt="">
							<div class="overlay">Pau, Pyrénées-Atlantiques 64</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_pyrenees/index.html">
							<img src="../photos/minis/33_Pyrenees.jpg" alt="">
							<div class="overlay">Hautes-Pyrénées 65</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_lot/index.html">
							<img src="../photos/minis/28_Dordogne.jpg" alt="">
							<div class="overlay">Lot 46</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_dordogne/index.html">
							<img src="../photos/minis/28_Dordogne.jpg" alt="">
							<div class="overlay">Dordogne 24</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_saintemilion/index.html">
							<img src="../photos/minis/25-5_Saintemilion.jpg" alt="">
							<div class="overlay">Saint-Émilion | Gironde 33</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_toulouse/index.html">
							<img src="../photos/minis/32_Toulouse.jpg" alt="">
							<div class="overlay">Toulouse | Haute-Garonne 31</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_paris/index.html">
							<img src="../photos/minis/31_Paris.jpg" alt="">
							<div class="overlay">Paris 75</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_biarritz/index.html">
							<img src="../photos/minis/30_Biarritz.jpg" alt="">
							<div class="overlay">Biarritz | Pyrénées-Atlantiques 64</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_bayonne/index.html">
							<img src="../photos/minis/30_Biarritz.jpg" alt="">
							<div class="overlay">Bayonne | Pyrénées-Atlantiques 64</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_alsace/index.html">
							<img src="../photos/minis/29_Alsace.jpg" alt="">
							<div class="overlay">Alsace | Bas-Rhin 67 & Haut-Rhin 68</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_blanquefort/index.html">
							<img src="../photos/minis/25-6_Blanquefort.jpg" alt="">
							<div class="overlay">parc Majolan, Blanquefort | Gironde 33</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_larochelle/index.html">
							<img src="../photos/minis/27_Bretagne.jpg" alt="">
							<div class="overlay">La Rochelle | Charente-Maritime 17</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_iledenoirmoutier/index.html">
							<img src="../photos/minis/27_Bretagne.jpg" alt="">
							<div class="overlay">Île-de-Noirmoutier | Vendée 85</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_bretagne/index.html">
							<img src="../photos/minis/27_Bretagne.jpg" alt="">
							<div class="overlay">Bretagne | Morbihan 56, Finistère 29</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_nantes/index.html">
							<img src="../photos/minis/27_Bretagne.jpg" alt="">
							<div class="overlay">Nantes | Loire-Atlantique 44</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_capferret/index.html">
							<img src="../photos/minis/25-4_Capferret.jpg" alt="">
							<div class="overlay">Cap Ferret | Gironde 33</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_angouleme/index.html">
							<img src="../photos/minis/26_Angouleme.jpg" alt="">
							<div class="overlay">Angoulême | Charente 16</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_arcachon/index.html">
							<img src="../photos/minis/25-3_Arcachon.jpg" alt="">
							<div class="overlay">Arcachon | Gironde 33</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_taillanmedoc/index.html">
							<img src="../photos/minis/25-2_Taillanmedoc.jpg" alt="">
							<div class="overlay">château du Taillan, le Taillan-Médoc | Gironde 33</div>
						</a>
					</li>

					<li>
						<a href="../destinations/e_lormont/index.html">
							<img src="../photos/minis/25-1_Lormont.jpg" alt="">
							<div class="overlay">parc de l'Ermitage Sainte-Catherine, Lormont | Gironde 33</div>
						</a>
					</li>

				</ul>
			</div>
