---
layout: layout.njk
title: expat
dot: .
nav: pages
hr: hr-pages
activeExpat: active
search: searchDestinations.js
---

<div class="ribbon" id="ribbon">
	<div class="panel_page expat"></div>
	<div class="heading-text">
		<h3>France</h3>
	</div>
</div>

{% include "upButton.njk" %}

<div class="container">

	{% include "search.njk" %}

	<ul class="image-gallery">
		<li class="destination">
			<a href="../photos/minis/00_carteFrance.jpg" target="_blank">
				<img src="../photos/minis/00_carteFrance.jpg" alt="">
				<div class="overlay 2021 2022 2023">carte des régions et départements</div>
			</a>
		</li>		
			{% for destination in destinations %}
				{% if destination.title === "expat" %}
					<li class="destination">
						<a href="../destinations/{{destination.name | slugify}}/index.html">
							<img src="../photos/minis/{{destination.name | slugify}}.jpg" alt="">
							{% if destination.name in destination.departementProvinceState %}
								<div class="overlay {{destination.keywords}}">{{destination.departementProvinceState}}</div>
							{% else %}
								<div class="overlay {{destination.keywords}}">{{destination.name}} | {{destination.departementProvinceState}}</div>
							{% endif %}
						</a>
					</li>
				{% endif %}
			{% endfor %}		
	</ul>

</div>
