---
layout: layout.njk
metaDescription: testFrance
title: France
p: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
dot: .
activeExpat: active
---

<main>

	{% include "ribbon.njk" %}

	{% include "upButton.njk" %}

	<div class="container">

		{% include "search.njk" %}
		{% include "alphabeticOrderButton.njk" %}

  		<button class="villes" id="villesButton" title="">villes</button>

  		<button class="departements" id="departementsButton" title="">départements</button>

  		<button class="regions" id="regionsButton" title="">régions</button>

		<ul class="image-gallery" id="villes">
			<li class="destination-carte">
				<a href="../photos/minis/00_carteFrance.jpg" target="_blank">
					<img src="../photos/minis/00_carteFrance.jpg" alt="">
					<div class="overlay 2021 2022 2023">carte des régions et départements</div>
				</a>
			</li>		
				{% for destination in destinations %}
					{% if destination.title === "France" %}
						<li class="destination" id="{{destination.name | slugify}}">

							{% if destination.link === "" %}
								<a title="à venir" >
							{% else %}
								<a href="../destinations/{{destination.name | slugify}}/index.html">
							{% endif %}

								<img src="../photos/minis/{{destination.name | slugify}}.jpg" alt="">

								<div class="overlay {{destination.keywords}}">{{destination.name}} | <br> {{destination.departementProvinceState}} | <br>{{destination.region}}</div>
			
								</a>
						</li>
					{% endif %}
				{% endfor %}
		</ul>

		<ul class="image-gallery" id="departements" hidden>
			<li class="destination-carte">
				<a href="../photos/minis/00_carteFrance.jpg" target="_blank">
					<img src="../photos/minis/00_carteFrance.jpg" alt="">
					<div class="overlay 2021 2022 2023">carte des régions et départements</div>
				</a>
			</li>
				{% for departement in departements %}
				<li class="destination" id="{{departement.departementProvinceState | slugify}}">
					<a href="../france/departements/{{departement.departementProvinceState | slugify}}/index.html">
					<img src="../photos/minis/{{departement.departementProvinceState | slugify}}.png" alt="">
					<div class="overlay">{{departement.departementProvinceState}} | <br> {{departement.region}}</div>
					</a>
				</li>
				{% endfor %}
		</ul>

		<ul class="image-gallery" id="regions" hidden>
			<li class="destination-carte">
				<a href="../photos/minis/00_carteFrance.jpg" target="_blank">
					<img src="../photos/minis/00_carteFrance.jpg" alt="">
					<div class="overlay 2021 2022 2023">carte des régions et départements</div>
				</a>
			</li>
				{% for region in regions %}
				<li class="destination" id="{{region.region | slugify}}">
					<a href="../france/regions/{{region.region | slugify}}/index.html">
						<img src="../photos/minis/{{region.region | slugify}}.png" alt="">
						<div class="overlay">{{region.region}}</div>
					</a>
				</li>
				{% endfor %}
		</ul>

	</div>

</main>