---
layout: layout.njk
metaDescription: 
title: accueil
body: body-index
---

<main id="index">

	<div class="col-one">

	</div>

	<div class="col-two">

		<div class="brand-index">
			<img src="./images/logo_white.png" alt="logo" class="logo">
			<p>blogue de photos d'escapades</p>
		</div>

			<!--
			<div class="container">
				<ul class="image-gallery-index-destinations">
					<li>
						<a href="./france/index.html">
							<img src="./photos/category/france.jpg" alt="">
							<div class="overlay">France</div>
						</a>
					</li>
					<li>
						<a href="./quebec/index.html">
							<img src="./photos/category/quebec-canada.jpg" alt="">
							<div class="overlay">Québec</div>
						</a>
					</li>
					<li>
						<a href="./international/index.html">
							<img src="./photos/category/international.jpg" alt="">
							<div class="overlay">international</div>
						</a>
					</li>
					<li>
						<a href="./itineraires/index.html">
							<img src="./photos/category/itineraires.jpg" alt="">
							<div class="overlay">itinéraires</div>
						</a>
					</li>
				</ul>
			</div>
			-->

	</div>

	<!-- Modal -->
	{% include "modalContact.njk" %}
	
</main>