---
layout: layout.njk
metaDescription: 
title: accueil
body: body-index
---

<main id="index">

	<div class="col-one mobile">

		<a class="btn btn-offcanvas" data-bs-toggle="offcanvas" href="#offcanvasIndexMobile" role="button" aria-controls="offcanvasIndexMobile">dernières publications</a>

		<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasIndexMobile" aria-labelledby="offcanvasIndexMobileLabel">
  		<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasIndexMobileLabel"></h5>
    		<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  		</div>
  		<div class="offcanvas-body">
				<div>
					<ul class="image-gallery-index">
						{% for publication in publications %}
						<li>
							<a href="./destinations/{{publication.link}}/index.html#{{publication.date | slugify}}">
								<img src="./photos/minis/{{publication.link | slugify}}.jpg" alt="">
								<div class="overlay">{{publication.date}} | {{publication.title}}</div>
							</a>
						</li>
						{% endfor %}		
					</ul>
				</div>
  		</div>
		</div>

	</div>

	<div class="col-one desktop">

		<a class="btn btn-offcanvas" data-bs-toggle="offcanvas" href="#offcanvasIndexDesktop" role="button" aria-controls="offcanvasIndexDesktop"> 
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg> dernières publications <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
		</a>

		<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasIndexDesktop" aria-labelledby="offcanvasIndexDesktopLabel">
  		<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasIndexDesktopLabel"></h5>
    		<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  		</div>
  		<div class="offcanvas-body">
				<div>
					<ul class="image-gallery-index">
						{% for publication in publications %}
						<li>
							<a href="./destinations/{{publication.link}}/index.html#{{publication.date | slugify}}">
								<img src="./photos/minis/{{publication.link | slugify}}.jpg" alt="">
								<div class="overlay">{{publication.date}} | {{publication.title}}</div>
							</a>
						</li>
						{% endfor %}		
					</ul>
				</div>
  		</div>
		</div>

	</div>

	<div class="col-two">

		<div class="brand-index">
			<img src="./images/logo_white.png" alt="logo" class="logo">
			<p>blogue de photos d'escapades</p>
		</div>

	</div>

	<!-- Modal -->
	{% include "modalContact.njk" %}
	
</main>