---
layout: layout.njk
metaDescription:
title: international
p: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
dot: .
activeMondial: active
---

<main>

	{% include "ribbon.njk" %}

	{% include "upButton.njk" %}

	<div class="container">

		{% include "search.njk" %}

		<ul class="image-gallery">	
			{% for destination in destinations %}
				{% if destination.title === "international" %}
					<li class="destination" id="{{destination.name | slugify}}">

						{% if destination.link === "" %}
							<a title="à venir" >
						{% else %}
							<a href="../destinations/{{destination.name | slugify}}/index.html">
						{% endif %}

							<img src="../photos/minis/{{destination.name | slugify}}.jpg" alt="">

						{% if destination.country === "" %}
							<div class="overlay {{destination.keywords}}">{{destination.name}}</div>
						{% elif destination.countryShort === "" %}
							<div class="overlay {{destination.keywords}}">{{destination.name}} {{destination.departementProvinceStateShort}} | {{destination.country}}</div>
						{% else %}
							<div class="overlay {{destination.keywords}}">{{destination.name}} {{destination.departementProvinceStateShort}} | {{destination.countryShort}}</div>
						{% endif %}
							</a>
					</li>
				{% endif %}
			{% endfor %}		
		</ul>
	
	</div>

</main>
