---
layout: layout.njk
metaDescription:
title: international
p: Voyager, c'est partir à la rencontre de nouveaux horizons, découvrir des cultures fascinantes et s'émerveiller devant des paysages uniques. Chaque destination a son ambiance, ses couleurs et ses histoires à raconter. Plonge dans mes explorations aux quatre coins du monde à travers mes images.
dot: .
activeMondial: active
---

<main>

	{% include "ribbon.njk" %}

	{% include "upButton.njk" %}

	<div class="container">

		{% include "search.njk" %}

		<div class="buttons">
			<div class="btn-france">
				<button class="btn-villes" id="villesButton" title="trier par villes">140 villes</button>
  			<button class="btn-pays" id="countryButton" title="trier par pays">19 pays</button>
			</div>
			{% include "alphabeticOrderButton.njk" %}
		</div>

		<ul class="image-gallery" id="villes">	
			<li class="destination-carte">
				<a href="../photos/minis/00_carteMonde.png" target="_blank">
					<img src="../photos/minis/00_carteMonde.png" alt="">
					<div class="overlay">carte du monde</div>
				</a>
			</li>
			{% for destination in destinations %}
				{% if destination.title === "international" %}
					<li class="destination" id="{{destination.name | slugify}}">

						{% if destination.link === "" %}
							<a title="à venir" >
						{% else %}
							<a href="../destinations/{{destination.name | slugify}}/index.html">
						{% endif %}

							<img src="../photos/minis/{{destination.name | slugify}}.jpg" alt="">

						{% if destination.country === "" %}
							<div class="overlay {{destination.keywords}}">{{destination.name}}</div>
						{% elif destination.countryShort === "" %}
							<div class="overlay {{destination.keywords}}">{{destination.name}} {{destination.departementProvinceStateShort}} | {{destination.country}}</div>
						{% else %}
							<div class="overlay {{destination.keywords}}">{{destination.name}} {{destination.departementProvinceStateShort}} | {{destination.countryShort}}</div>
						{% endif %}
							</a>
					</li>
				{% endif %}
			{% endfor %}		
		</ul>

		<ul class="image-gallery" id="pays" hidden>
			<li class="destination-carte">
				<a href="../photos/minis/00_carteMonde.png" target="_blank">
					<img src="../photos/minis/00_carteMonde.png" alt="">
					<div class="overlay">carte du monde</div>
				</a>
			</li>
				{% for pays in pays %}
					<li class="destination" id="{{pays.pays | slugify}}">
						<a href="../international/pays/{{pays.pays | slugify}}/index.html">
							<img src="../photos/minis/{{pays.pays | slugify}}.png" alt="">
							<div class="overlay">{{pays.pays}}</div>
						</a>
					</li>
				{% endfor %}
		</ul>
	
	</div>

</main>
