---
layout: layout.njk
metaDescription:
title: international
p: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
dot: .
activeMondial: active
---

<main>

	{% include "ribbon.njk" %}

	{% include "upButton.njk" %}

	<div class="container">

		{% include "search.njk" %}

		<div class="buttons">
			<div class="btn-france">
				<button class="btn-villes" id="villesButton" title="">villes</button>
  			<button class="btn-pays" id="countryButton" title="">pays</button>
			</div>
			{% include "alphabeticOrderButton.njk" %}
		</div>

		<ul class="image-gallery" id="villes">	
			<li class="destination">
				<a href="../photos/minis/00_carteQuebec.jpg" target="_blank">
					<img src="../photos/minis/00_carteQuebec.jpg" alt="">
					<div class="overlay">carte du monde</div>
				</a>
			</li>
			{% for destination in destinations %}
				{% if destination.title === "international" %}
					<li class="destination" id="{{destination.name | slugify}}">

						{% if destination.link === "" %}
							<a title="à venir" >
						{% else %}
							<a href="../destinations/{{destination.name | slugify}}/index.html">
						{% endif %}

							<img src="../photos/minis/{{destination.name | slugify}}.jpg" alt="">

						{% if destination.country === "" %}
							<div class="overlay {{destination.keywords}}">{{destination.name}}</div>
						{% elif destination.countryShort === "" %}
							<div class="overlay {{destination.keywords}}">{{destination.name}} {{destination.departementProvinceStateShort}} | {{destination.country}}</div>
						{% else %}
							<div class="overlay {{destination.keywords}}">{{destination.name}} {{destination.departementProvinceStateShort}} | {{destination.countryShort}}</div>
						{% endif %}
							</a>
					</li>
				{% endif %}
			{% endfor %}		
		</ul>

		<ul class="image-gallery" id="pays" hidden>
			<li class="destination">
				<a href="../photos/minis/00_carteQuebec.jpg" target="_blank">
					<img src="../photos/minis/00_carteQuebec.jpg" alt="">
					<div class="overlay">carte du monde</div>
				</a>
			</li>
				{% for pays in pays %}
					<li class="destination" id="{{pays.pays | slugify}}">
						<a href="../international/pays/{{pays.pays | slugify}}/index.html">
							<img src="../photos/minis/{{pays.pays | slugify}}.png" alt="">
							<div class="overlay">{{pays.pays}}</div>
						</a>
					</li>
				{% endfor %}
		</ul>
	
	</div>

</main>
