---
layout: layout.njk
metaDescription:
title: itinéraires
p: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
dot: .
activeItinerary: active
---

<main>
  {% include "ribbon.njk" %} {% include "upButton.njk" %}

  <div class="container">
    {% include "search.njk" %}

    <div class="buttons left">{% include "alphabeticOrderButton.njk" %}</div>

    <ul class="image-gallery">
      {% for itineraire in itineraires %}
      <li class="destination">
        <a title="à venir">
          <!--href="../itineraires/{{itineraire.name | slugify}}/index.html"-->
          <img
            src="../photos/minis/{{ itineraire.name | slugify }}.jpg"
            alt=""
          />
          <div class="overlay {{ itineraire.keywords }}">
            {{ itineraire.name }} | {{ itineraire.country }}
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</main>
