---
layout: layout.njk
metaDescription:
title: itinéraires
p: Besoin d'inspiration pour ton prochain voyage ? Ici, je partage mes itinéraires détaillés. Que tu partes pour un week-end ou plusieurs semaines, trouve des idées pour explorer le monde à ton rythme !
dot: .
activeItinerary: active
---

<main>

  {% include "ribbon.njk" %} 
  
  {% include "upButton.njk" %}

  <div class="container">

    {% include "search.njk" %}

    <div class="buttons left"></div>

    <ul class="image-gallery">
      {% for destination in destinations %}
      {% if destination.title === "itinéraire" %}
      <li class="destination" id="{{destination.name | slugify}}">

        {% if destination.link === "" %}
							<a title="à venir" >
						{% else %}
							<a href="../destinations/{{destination.name | slugify}}/index.html">
						{% endif %}

							<img src="../photos/minis/{{destination.name | slugify}}.jpg" alt="">

          <div class="overlay {{ destination.keywords }}">
            {{ destination.name }} | {{ destination.country }}
          </div>
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</main>
