---
layout: layout.njk
title: maison
dot: .
nav: pages
activeMaison: active
search: searchDestinations.js
---

<div class="ribbon">
	<div class="panel_page maison"></div>
	<div class="heading-text">
		<h3>Québec</h3>
	</div>
</div>

<div class="container">

	<div class="search">
		{% include "search.njk" %}
		<div>
			{% include "buttonsAll.njk" %}
		</div>
	</div>	
	
	<ul class="image-gallery">
		<li class="destination">
			<a href="../photos/minis/00_carteQuebec.jpg" target="_blank">
				<img src="../photos/minis/00_carteQuebec.jpg" alt="">
				<div class="overlay">carte des régions</div>
			</a>
		</li>
			{% for destination in destinations %}
				{% if destination.title === "maison" %}
					<li class="destination">
						<a href="../destinations/{{destination.name | slugify}}/index.html">
							<img src="../photos/minis/{{destination.name | slugify}}.jpg" alt="">
							<div class="overlay {{destination.keywords}}">{{destination.name}} | {{destination.departementProvinceState}}</div>
						</a>
					</li>
				{% endif %}
			{% endfor %}
	</ul>

</div>
