---
layout: layout.njk
title: mondial
dot: .
nav: pages
hr: hr-pages
activeMondial: active
search: searchDestinations.js
---

<div class="ribbon">
	<div class="panel_page mondial"></div>
	<div class="heading-text">
		<h3>international</h3>
	</div>
</div>

<div class="container">

	<div class="search">
		{% include "search.njk" %}
	</div>	
	
	<ul class="image-gallery">		
			{% for destination in destinations %}
				{% if destination.title === "mondial" %}
					<li class="destination">
						<a href="../destinations/{{destination.name | slugify}}/index.html">
							<img src="../photos/minis/{{destination.name | slugify}}.jpg" alt="">
							{% if destination.countryShort === "" %}
								<div class="overlay {{destination.keywords}}">{{destination.name}} {{destination.departementProvinceStateShort}}</div>
							{% else %}
								<div class="overlay {{destination.keywords}}">{{destination.name}} {{destination.departementProvinceStateShort}} | {{destination.countryShort}}</div>
							{% endif %}
						</a>
					</li>
				{% endif %}
			{% endfor %}		
	</ul>
	
</div>
