---
layout: layout.njk
title: publications
dot: .
nav: pages
activePublications: active
search: searchPublications.js
---

			<!--
			<div class="ribbon">
				<div class="panel_page"></div>
				<div class="heading-text">
					<h3>publications</h3>
					<p>text</p>
				</div>
			</div>
			-->

			<div class="container container-publications">
<!--
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
-->
				<div class="search">
					{% include "search.njk" %}
					<div class="buttons">
						{% include "buttonsAll.njk" %}
						{% include "buttonsYears.njk" %}
					</div>
				</div>				
				
				<!-- Grid Card -->
				<div class="row row-cols-1 row-cols-md-3 g-4">

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/34_Lacanau.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">plages</h5>
								<p class="card-text">Lacanau, Vendays-Montalivet, Soulac-sur-mer | Gironde 33 | France</p>
								<!-- post button trigger modal -->
								<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
								</button>
							</div>
							<div class="card-footer">
								<small class="text-muted">4 mars 2023</small>
							</div>
						</div>
					</div>

					<!-- post modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  					<div class="modal-dialog modal-xl">
  					  <div class="modal-content">
  					    <div class="modal-header">
  					      <h5 class="modal-title" id="exampleModalLabel">plages</h5>
  					      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      					</div>
      					<div class="modal-body">
       						
									<!-- post carousel -->
									<div id="carouselPublicationCaptions" class="carousel publications slide">
										<div class="carousel-indicators">
											<button type="button" data-bs-target="#carouselPublicationCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
											<button type="button" data-bs-target="#carouselPublicationCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
											<button type="button" data-bs-target="#carouselPublicationCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
										</div>
										<div class="carousel-inner">
											<div class="carousel-item active">
												<img src="../photos/mondial/2020.02_Leeds/01_Avion_m.jpg" class="d-block " alt="...">
												<div class="carousel-caption d-none d-md-block">
													<p>Some representative placeholder content for the first slide.</p>
												</div>
											</div>
											<div class="carousel-item">
												<img src="../photos/mondial/2020.02_Leeds/02_Man01_m.jpg" class="d-block " alt="...">
												<div class="carousel-caption d-none d-md-block">
													<p>Some representative placeholder content for the second slide. Some representative placeholder content for the second slide. Some representative placeholder content for the second slide. Some representative placeholder content for the second slide. Some representative placeholder content for the second slide.</p>
												</div>
											</div>
											<div class="carousel-item">
												<img src="../photos/mondial/2020.02_Leeds/03_Man03_m.jpg" class="d-block " alt="...">
												<div class="carousel-caption d-none d-md-block">
													<p>Some representative placeholder content for the third slide.</p>
												</div>
											</div>
										</div>
										<button class="carousel-control-prev" type="button" data-bs-target="#carouselPublicationCaptions" data-bs-slide="prev">
											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
											<span class="visually-hidden">Previous</span>
										</button>
										<button class="carousel-control-next" type="button" data-bs-target="#carouselPublicationCaptions" data-bs-slide="next">
											<span class="carousel-control-next-icon" aria-hidden="true"></span>
											<span class="visually-hidden">Next</span>
										</button>
									</div>

      					</div>
    					</div>
  					</div>
					</div>


					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/24_Bordeaux.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">bassins à flots</h5>
								<p class="card-text">Bordeaux | Gironde 33 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">14 février 2023</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="..." class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">pays Basque</h5>
								<p class="card-text">Saint-Jean-de-Luz, Saint-Sebastien, Bilbao | France & España</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">10-12 février 2023</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/01_Montreal.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">séjour chez nous</h5>
								<p class="card-text">Québec | Canada</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">22 décembre 2022 - 5 janvier 2023</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="..." class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">escapade</h5>
								<p class="card-text"> | Rhône 69 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">3-5 décembre 2022</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/25-7_Graves.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">la vie de château</h5>
								<p class="card-text">château de la Brède, domaine de Montesquieu | Gironde 33 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">16 octobre 2022</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/25-7_Graves.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">portes ouvertes de vignobles</h5>
								<p class="card-text">les Graves | Gironde 33 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">16 octobre 2022</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="..." class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">attention à la vague</h5>
								<p class="card-text">le mascaret, Portets | Gironde 33 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">9 octobre 2022</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/27_Bretagne.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">escapade</h5>
								<p class="card-text">Larochelle, Le Mans | Charente-Maritime 17, Sarthe 72 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">15-18 septembre 2022</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/34_Lacanau.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">beaucoup de sable</h5>
								<p class="card-text">Dune du Pilat, Arcachon, Cap-Ferret, Lacanau | Gironde 33 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">13 septembre 2022</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/25-5_Saintemilion.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">du vin</h5>
								<p class="card-text">Saint-Émilion | Gironde 33 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">11 septembre 2022</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/35_Portugal.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">voyage</h5>
								<p class="card-text">Portugal</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">juillet-août 2022</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/34_Lacanau.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">une journée à la plage</h5>
								<p class="card-text">Lacanau | Gironde 33 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">28 juin 2022</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/33_Pyrenees.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">escapade</h5>
								<p class="card-text">Pyrénées-Atlantiques 64 & Hautes-Pyrénées 65 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">26-29 mai 2022</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/28_Dordogne.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">escapade</h5>
								<p class="card-text">Dordogne 24 & Lot 46 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">15-18 avril 2022</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/25-5_Saintemilion.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">promenade</h5>
								<p class="card-text">Saint-Émilion | Gironde 33 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">10 avril 2022</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/32_Toulouse.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">escapade</h5>
								<p class="card-text">Toulouse | Haute-Garonne 31 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">18-20 mars 2022</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/28_Dordogne.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">promenade</h5>
								<p class="card-text">Dordogne 24 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">27 février 2022</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/25-5_Saintemilion.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">promenade</h5>
								<p class="card-text">Saint-Émilion | Gironde 33 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">26 février 2022</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/31_Paris.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">escapade</h5>
								<p class="card-text">Paris 75 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">19-22 février 2022</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/30_Biarritz.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">escapade</h5>
								<p class="card-text">Biarritz & Bayonne | Pyrénées-Atlantiques 64 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">5-6 février 2022</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/29_Alsace.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">séjour</h5>
								<p class="card-text">Alsace | Bas-Rhin 67 & Haut-Rhin 68 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">18-27 novembre 2021</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/28_Dordogne.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">promenade</h5>
								<p class="card-text">Dordogne 24 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">31 octobre 2021</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/25-7_Graves.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">portes ouvertes de vignobles</h5>
								<p class="card-text">les Graves | Gironde 33 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">16-17 octobre 2021</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/25-5_Saintemilion.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">promenade</h5>
								<p class="card-text">Saint-Émilion | Gironde 33 | Gironde 33 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">2 octobre 2021</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/25-6_Blanquefort.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">promenade</h5>
								<p class="card-text">parc Majolan, Blanquefort | Gironde 33 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">4 septembre 2021</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/27_Bretagne.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">premier road trip</h5>
								<p class="card-text">Larochelle, Île-de-Noirmoutier, Bretagne | Charente-Maritime 17, Vendée 85, Loire-Atlantique 44, Morbihan 56, Finistère 29 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">20-29 août 2021</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/25-5_Saintemilion.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">promenade</h5>
								<p class="card-text">Saint-Émilion | Gironde 33 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">18 juillet 2021</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/25-4_Capferret.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">promenade</h5>
								<p class="card-text">Cap Ferret | Gironde 33 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">10 juillet 2021</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/26_Angouleme.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">la ville de la bande-dessiné</h5>
								<p class="card-text">Angoulême | Charente 16 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">19-20 juin 2021</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/25-3_Arcachon.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">promenade</h5>
								<p class="card-text">Arcachon | Gironde 33 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">5 juin 2021</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/25-2_Taillanmedoc.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">première visite d'un vignoble</h5>
								<p class="card-text">château du Taillan, le Taillan-Médoc | Gironde 33 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">30 mai 2021</small>
							</div>
						</div>
					</div>

					<!-- post -->
					<div class="col">
						<div class="card h-100">
							<img src="../photos/minis/25-1_Lormont.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">promenade</h5>
								<p class="card-text">parc de l'Ermitage Sainte-Catherine, Lormont | Gironde 33 | France</p>
								<!-- Button trigger modal 
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
									voir
									</button>
								-->
								<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ça s'en vient !">
									<button class="btn" type="button" disabled>voir</button>
								</span>
							</div>
							<div class="card-footer">
								<small class="text-muted">30 mai 2021</small>
							</div>
						</div>
					</div>

				</div>

			</div>
