---
layout: layout.njk
metaDescription:
title: Québec
p: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
dot: .
activeMaison: active
---

<main>

	{% include "ribbon.njk" %}

	{% include "upButton.njk" %}

	<div class="container">

		{% include "search.njk" %}	

		<div class="buttons">
			<div class="btn-france">
				<button class="btn-villes" id="villesButton" title="">villes</button>

  			<button class="btn-regions" id="regionsQcButton" title="">régions</button>
			</div>

			{% include "alphabeticOrderButton.njk" %}
		</div>

		<ul class="image-gallery" id="villes">
			<li class="destination-carte">
				<a href="../photos/minis/00_carteQuebec.png" target="_blank">
					<img src="../photos/minis/00_carteQuebec.png" alt="">
					<div class="overlay">carte des régions</div>
				</a>
			</li>
				{% for destination in destinations %}
					{% if destination.title === "Québec" %}
						<li class="destination" id="{{destination.name | slugify}}">
							{% if destination.link === "" %}
								<a title="à venir" >
							{% else %}
								<a href="../destinations/{{destination.name | slugify}}/index.html">
							{% endif %}

								<img src="../photos/minis/{{destination.name | slugify}}.jpg" alt="">

							{% if destination.departementProvinceState === "" %}
								<div class="overlay {{destination.keywords}}">{{destination.name}}</div>
							{% else %}
								<div class="overlay {{destination.keywords}}">{{destination.name}} | {{destination.departementProvinceState}}</div>
							{% endif %}
								</a>
						</li>
					{% endif %}
				{% endfor %}
		</ul>

		<ul class="image-gallery" id="regionsQc" hidden>
			<li class="destination-carte">
				<a href="../photos/minis/00_carteQuebec.png" target="_blank">
					<img src="../photos/minis/00_carteQuebec.png" alt="">
					<div class="overlay">carte des régions</div>
				</a>
			</li>
				{% for region in regions %}
					{% if region.activeMaison === "active" %}
					<li class="destination" id="{{region.region | slugify}}">
						<a href="../quebec/regions/{{region.region | slugify}}/index.html">
							<img src="../photos/minis/{{region.region | slugify}}.png" alt="">
							<div class="overlay">{{region.region}}</div>
						</a>
					</li>
					{% endif %}
				{% endfor %}
		</ul>

	</div>

</main>
