---
layout: layout.njk
title: voyages
dot: .
nav: pages
activeVoyages: active
search: searchDestinations.js
---

			<div class="ribbon">
				<div class="panel_page voyages"></div>
				<div class="heading-text">
					<h3>le Monde</h3>
				</div>
			</div>

			<div class="container">

				<div class="search">
					{% include "search.njk" %}
					<div>
						{% include "buttonsAll.njk" %}
					</div>
				</div>	
				
				<ul class="image-gallery">
					<li class="destination">
						<a href="../destinations/v_paysbasque/index.html">
							<img src="../photos/minis/20_Barcelona.jpg" alt="">
							<div class="overlay">Pays Basque | España</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_portugal/index.html">
							<img src="../photos/minis/35_Portugal.jpg" alt="">
							<div class="overlay">Portugal</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_leeds/index.html">
							<img src="../photos/minis/22_Leeds.jpg" alt="">
							<div class="overlay">Leeds | United Kingdom</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_barcelona/index.html">
							<img src="../photos/minis/20_Barcelona.jpg" alt="">
							<div class="overlay">Barcelona | España</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_toronto/index.html">
							<img src="../photos/minis/19_Toronto.jpg" alt="">
							<div class="overlay">Toronto ON | Canada</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_alberta/index.html">
							<img src="../photos/minis/18_Alberta.jpg" alt="">
							<div class="overlay">Alberta | Canada</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_ottawa/index.html">
							<img src="../photos/minis/16_Ottawa.jpg" alt="">
							<div class="overlay">Ottawa ON | Canada</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_london/index.html">
							<img src="../photos/minis/15_London.jpg" alt="">
							<div class="overlay">London | United Kingdom</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_italia/index.html">
							<img src="../photos/minis/14_Italia.jpg" alt="">
							<div class="overlay">Italia</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_paris/index.html">
							<img src="../photos/minis/13_Paris.jpg" alt="">
							<div class="overlay">Paris | France</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_scotland/index.html">
							<img src="../photos/minis/12_Scotland.jpg" alt="">
							<div class="overlay">Scotland</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_ireland/index.html">
							<img src="../photos/minis/11_Ireland.jpg" alt="">
							<div class="overlay">Ireland</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_utah/index.html">
							<img src="../photos/minis/10_Utah.jpg" alt="">
							<div class="overlay">Utah, Nevada, Arizona | USA</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_chicago/index.html">
							<img src="../photos/minis/08_Chicago.jpg" alt="">
							<div class="overlay">Chicago IL | USA</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_sanfrancisco/index.html">
							<img src="../photos/minis/07_SanFrancisco.jpg" alt="">
							<div class="overlay">San Francisco CA | USA</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_boston/index.html">
							<img src="../photos/minis/06_Boston.jpg" alt="">
							<div class="overlay">Boston MA | USA</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_japon/index.html">
							<img src="../photos/minis/04_Japon.jpg" alt="">
							<div class="overlay">Japon 日本</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_newyork/index.html">
							<img src="../photos/minis/03_NewYork.jpg" alt="">
							<div class="overlay">New York NY | USA</div>
						</a>
					</li>

					<li class="destination">
						<a href="../destinations/v_washington/index.html">
							<img src="../photos/minis/02_Washington.jpg" alt="">
							<div class="overlay">Washington D.C. | USA</div>
						</a>
					</li>

				</ul>
			</div>
